<div id="main-container">
    <img src="{{beers.image_url}}">
    <div class="card-container-random">
        <h4>{{beers.name}}</h4>
        <p>{{beers.tagline}}</p>
        <p>{{beers.description}}</p>
        <h5 style="font-weight:900;">Food pairing</h5>
        <ul>
            {{#each beers.food_pairing}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <p><b>Brewers Tips:</b> {{beers.brewers_tips}}</p>
    </div>
</div>
